@import 'tailwindcss';

/* Регулярный шрифт */
@font-face {
  font-family: 'Inter';
  src:
    url('../assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('../assets/fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Полужирный шрифт */
@font-face {
  font-family: 'Inter';
  src:
    url('../assets/fonts/Inter-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Жирный шрифт */
@font-face {
  font-family: 'Inter';
  src:
    url('../assets/fonts/Inter-Bold.woff2') format('woff2'),
    url('../assets/fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Inter', sans-serif;
  @apply min-h-screen bg-gray-700;
}

* {
  @apply box-border;
}
button {
  @apply cursor-pointer;
}

button,
input,
textarea,
select,
a {
  @apply transition duration-150 ease-in-out;
}

button:focus {
  @apply outline-none ring-2 ring-blue-500;
}
input:focus {
  @apply outline-none ring-2 ring-blue-500;
}
textarea:focus {
  @apply outline-none ring-2 ring-blue-500;
}
select:focus {
  @apply outline-none ring-2 ring-blue-500;
}
a:focus {
  @apply outline-none ring-2 ring-blue-500;
}
